body {
  background-color: #f3f0ff;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  color: #7123a5;
}

button {
  background-color: #a29bfe;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
}
